* {
  box-sizing: border-box;
}
body {
  font-family: "roboto";
}

.nav-bar {
  max-width: 1200px;
}
.nav-bar ul {
  list-style: none;
  display: flex;
}
.menu-container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 50px auto;
}
.menu-container h2 {
  text-transform: uppercase;
  font-size: 40px;
}

.menu-images {
  width: 50%;
  height: 380px;
  object-fit: cover;
  margin: 30px;
  box-shadow: darkred -20px 20px;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .menu-container {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
  }
}
.menu-images img {
  width: 100%;
  object-fit: cover;
}
.menu-text {
  width: 50%;
}
.order-display {
  background-color: lightgray;
  padding: 50px;
  display: inline-block;
}

.success-card {
  background: white;
  padding: 60px;
  border-radius: 4px;
  box-shadow: 0 2px 3px #c8d0d8;
  display: inline-block;
  margin: 0 auto;
}

nav button {
  font-family: "lato";
  font-weight: 900;
  padding: 12px 40px;
  background: none;
  color: darkred;
  border: none;
}

nav button:hover {
  text-decoration: underline;
  text-decoration-color: rgb(212, 85, 85);
}

.menu-item {
}
.addbutton {
  background-color: darkred;
  color: white;
  padding: 12px 40px;
  border: none;
  border-radius: 50px;
  font-weight: 900;
  text-transform: uppercase;
}

.addbutton:hover {
  background-color: rgb(212, 85, 85);
}
