.nav-bar {
  max-width: 1200px;
}
.nav-bar ul {
  list-style: none;
  display: flex;
}
.menu-container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 30px auto;
}
.menu-images {
  width: 50%;
  height: 300px;
  object-fit: cover;
  margin: 30px;
}
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .menu-container {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
  }
}
.menu-images img {
  width: 100%;
  object-fit: cover;
}
.menu-text {
  width: 50%;
}
.order-display {
  background-color: lightgray;
  padding: 50px;
  display: inline-block;
}
