.nav-bar {
  max-width: 1200px;
}
.menu-container {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 30px auto;
}
.menu-images {
  width: 50%;
  height: 300px;
  object-fit: cover;
}
.menu-images img {
  width: 100%;
  object-fit: cover;
}
.menu-text {
  width: 50%;
}
